:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    color: #3d4252;
  }
#root{
  [type=button]{
    -webkit-appearance: none
  }
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
